@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass-card {
    @apply bg-white/70 dark:bg-slate-800/70 backdrop-blur-md border border-gray-200 dark:border-slate-700 shadow-lg;
  }
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-500/50 hover:bg-primary-600 rounded-full;
}